.num-records {
    font-size: 10pt;
    text-align: center;
    width: 100%;
}
.add-button {
    background: url('../assets/icons/add.circle.svg') no-repeat center;
    width: 22px;
    height: 22px;
    position: absolute;
}

.edit-button {
    background: url('../assets/icons/edit-circle.svg') no-repeat center;
    width: 22px;
    height: 22px;
    position: absolute;
}
.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-header {
    background-color: #288df3;
    color: #ffffff;

}
.btn.close{
    color: #ffffff;
}